extends layout

block content
  h1= title
  a(href='new_student') Tambahkan Data Mahasiswa Baru
  div.container
    div.top 
      table.table-condensed(border='1')
        thead
          th NIM
          th NAMA
          th KELAS
          th IPK
          th ACTION
        tbody
          each s in students
            tr
              td #{s.nim}
              td #{s.nama}
              td #{s.kelas}
              td #{s.ipk}
              td #[a(href='/student_detail/'+s.nim) Detail] | #[a(href='/update_student/'+s.nim) EDIT] | #[a(href='/delete_student/'+s.nim) DELETE]
            