extends layout

block content
  h1= title
  div.container
    div.top 
      table.table-condensed(border='1')
        thead
          th ID
          th Nama Depan
          th Nama Belakang
          th Jurusan
        tbody
          each s in member
            tr
              td #{s.id}
              td #{s.firstname}
              td #{s.lastname}
              td #{s.jurusan}
            