extends layout


block content

    nav#siteNav.navbar-default.navbar-fixed-top(role="navigation")
        .container
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#")
                    span.glyphicon.glyphicon-fire LOGO
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") Home
                    li.active
                        a(href="/product") Product
                    li
                        if profile == null
                            a(href="/signin") Login
                        else
                            a Welcome, #{profile.firstname} #{profile.lastname}
                    if profile == null
                        li
                            a(href='/signupv2') Sign Up
                    li
                        a(href="#") Contact
                    li
                        if profile !=null
                            a(href="/logout") Logout
    //- HEADER
    header
        .header-content
            .header-content-inner
                h1= title
                p
                |DUMMY UNTUK #{title}
                a.btn.btn-primary.bnt-lg(href="#") Coba Sekarang

    //- Section
    section.intro
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    span.glyphicon.glyphicon-apple(style="font-size: 60px")
                    h2.section-heading=title
                    p.text-light=title




