extends layout

block content
    h1= title
    div
        p Welcome to #{profile.firstname} #{profile.lastname}
        p
        p Name Depan : #{profile.firstname}
        p Nama Belakang : #{profile.lastname}
        p Email : #{profile.email}
        p Username : #{profile.username}
        p Last Login : #{profile.last_login}

