extends layout

block content
  h1= title
  div
    form(method='post' action='/update_student')
      input(type='hidden' name='nim' value='#{student.nim}')
      p Nama :
      input(type='text' name='nama' value='#{student.nama}')
      p Kelas :
      input(type='text' name='kelas' value='#{student.kelas}')
      p IPK :
      input(type='number' name='ipk' value='#{student.ipk}' step='0.01')
      button(type='submit' ) Save
